main
  width: 60vw
  margin: 100px auto 20px auto

section
  display: flex
  flex-direction: column
  justify-content: center

.content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.actions
  display: flex
  flex-direction: row

  &.user
    justify-content: flex-end

.pull-end
  align-self: flex-end
